<div id='content-tab' class='tab-pane'>
	<div class="span7">
		<div class='tabbable'>
			<%= render 'form_content_nav' %>
			<div class='tab-content'>
				<%= render 'form_add_content_tab', lesson_plan_form: lesson_plan_form %>	
				<%= render 'form_existing_content_tabs', lesson_plan_form: lesson_plan_form %>
			</div>
		</div>
	</div>
</div>

