<ul class='nav nav-tabs'>
	<li class='active'>
		<a href='#add-content-tab' data-toggle='tab'>
			Add Content
		</a>
	</li>
	<% @lesson_plan.fields.each do |field| %>
		<% unless field.name.nil? %>
			<li>
				<a href=<%= "##{field.name.downcase.dasherize}-tab" %> data-toggle='tab'>
					<%= field.name %>
				</a>
			</li>
		<% end %>
	<% end %>
</ul>

