<% lesson_plan.fields.each do |field| %>
	<% unless field.name.nil? %>
		<div id=<%= "#{field.name.downcase.dasherize}-tab"%> class='tab-pane'>
			<div class='span6'>
				<%= lesson_plan_form.fields_for field do |f| %>
					<%= f.text_field :name, class: 'span4'%>
					<%= f.text_area :content, rows: 10, class: 'span6'%>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>

