<div id='add-tab' class='tab-pane'>
	<div class='span6'>
		<%= lesson_plan_form.fields_for :fields, lesson_plan.fields.last do |field| %>
			<%= field.text_field :title, class: 'span4'%>
			<%= field.text_area :description, rows: 10, class: 'span6'%>
		<% end %>
	</div>
</div>

