<h2>Hi, <%= @user.name %>!</h2>

<p>
  Welcome, and thank you for choosing
  <%= Rails.configuration.app_name %> to
  manage your lesson plans.
</p>

<p>
  If you have any problems or questions
  related to the site please direct
  them to support@lessonmate.com.
</p>
