@mixin status-1 {
  background: rgba(255, 74, 72, 0.3);
}

@mixin status-2 {
  background: rgba(248, 148, 0, 0.3);
}

@mixin status-3 {
  background: rgba(70, 200, 71, 0.3);
}

@mixin lesson-border {
  border-radius: 7px;
  -moz-border-radius: 7px;
  margin: 1px;
  padding-top: 1px;
}

#calendar {
    width: 100%;
    overflow: auto;

  table {
    width: 100%;
    table-layout: fixed;

    caption {

      position: relative;
      width: 80%;
      margin: auto;
      padding: 0 0 1em 0;

      #prev-month {
        position: absolute;
        top: 5px;
        float: left;
      }

      #next-month {
        position: absolute;
        top: 5px;
        right: 0;
        float: right;
      }

      #calendar-views {
        a {
          margin: 0 15px;
        }
      }
    }

    tr.week {
      height: 440px;
    }

    th.weekly-heading:first-child {
      width: 10%;
    }

    th.weekly-heading:not(:first-child) {
      width: 15%;
    }

    td {
      padding: 0 2px 0 2px;
      height: 110px;
      border: 1px solid lightgray;

      ul {
        position: relative;
        top: 10px;
        height: 70%;

        .status-1 {
          @include status-1
        }

        .status-2 {
          @include status-2
        }

        .status-3 {
          @include status-3
        }

        li {
          @include lesson-border;
          text-align: center;
        }
      }

      ul.courses {
        overflow: auto;
      }
    }
  }

  @mixin date-base {
    position: absolute;
    top: 0;
    width: 95%;
    margin: 0 1px 0 1px;
    border-radius: 5px;
  }

  @mixin date-span {
    padding: 0 0 0 5px;
  }

  .date {
    @include date-base;
    background-color: #ececf0;
    span {
      @include date-span
    }
  }

  .today {
    @include date-base;
    background-color: #dceaf4;
    span {
      @include date-span
    }
  }

  .course {
    list-style: none;
    margin: 2px 5px 2px 5px;
  }

  .day {
    position: relative;

    .add-lesson-plan {
      position: absolute;
      right: 7px;
      top: 1px;
      display: none;
    }
  }

}

@mixin calendar-height {
  height: (1440 * 2px);
}

#calendar-week {
  width: 100%;
  height: 550px;
  overflow: scroll;

  .weekly-lesson {
    width: 100%;
    @include lesson-border;
    cursor: pointer;
    text-align: center;
    position: relative;
    float: left;
    word-wrap: break-word;
  }

  .status-1 {
    @include status-1
  }

  .status-2 {
    @include status-2
  }

  .status-3 {
    @include status-3
  }

  .hour-column {
    width: 8%;
    @include calendar-height;
    float: left;
  }

  .hour {
    border-top: 1px solid #bbb;
    text-align: right;
    padding-right: 10px;
  }

  .half-hour {
    position: relative;
    top: 60px;
    border-top: 1px solid #bbb;
  }

  .day-column {
    width: 13%;
    @include calendar-height;
    float: right;
    border-left: solid 1px #ccc;
  }
}

