#calendar {

  table {

    caption {

      position: relative;
      width: 80%;
      margin: auto;
      padding: 0 0 1em 0;

      #prev_month {
        position: absolute;
        top: 5px;
        float: left;
      }

      #next_month {
        position: absolute;
        top: 5px;
        right: 0;
        float: right;
      }
    }

    width: 100%;
    table-layout: fixed;

    td {
      padding: 0 2px 0 2px;
      height: 110px;
      border: 1px solid lightgray;

      .courses {
        position: relative;
        height: 70%;
        overflow: auto;
        top: 15px;

        .status-underline1 {
          border-bottom: 3px solid #b94a48;
        }
        .status-underline2 {
          border-bottom: 3px solid #f89406;
        }
        .status-underline3 {
          border-bottom: 3px solid #468847;
        }

        li span.time {
          float: right;
          color: #888;
          font-size: 13px;
        }
      }
    }
  }

  @mixin date-base {
    position: absolute;
    top: 0;
    width: 95%;
    margin: 0 1px 0 1px;
    border-radius: 5px;
  }

  @mixin date-span {
    padding: 0 0 0 5px;
  }

  .date {
    @include date-base;
    background-color: #ececf0;
    span {
      @include date-span
    }
  }

  .today {
    @include date-base;
    background-color: #dceaf4;
    span {
      @include date-span
    }
  }

  .course {
    list-style: none;
    margin: 2px 5px 2px 5px;
  }

  .day {
    position: relative;

    .add-lesson-plan {
      position: absolute;
      right: 7px;
      top: 1px;
      display: none;
    }
  }
}

