#calendar {

    table {
        caption {
          padding: 0 0 1em 0;
        }
    
        width: 100%;
        table-layout: fixed;

        td {
            padding: 0 2px 0 2px;
            height: 110px;
            border: 1px solid lightgray;
        }   
    }

    @mixin date-base {
        position: absolute;
        top: 0;
        width: 95%;
        margin: 0 1px 0 1px;
        border-radius: 5px;
    }

    @mixin date-span {
      padding: 0 0 0 5px;
    }

    .date {
        @include date-base;
        background-color: #ececf0;
        span {
          @include date-span
        }
    }

    .today {
        @include date-base;
        background-color: #dceaf4;
        span {
          @include date-span
        }
    }

    .courses {
      position: relative;
      height: 100%;
      top: 25%;
    }

    .course {
        list-style: none;
        margin: 2px 0 2px 5px;
    }

    .day {
      position: relative;
    }

}


