@import "bootstrap";

.actions {
  text-align: right;
  padding-top: 15px;
  a {
    color: gray;
    underline: none;
  }
  height: 4em;
}

.vertical-align {
  margin-top: 30%;
}

.row:nth-child(n+1) {
  background: #eee;
}

.row:first-child {
  background: white;
  margin-top: 10px;
  margin-bottom: 40px;
}

.row:not(:first-child) {
  padding: 30px;
  margin-bottom: 50px;
}

