.lesson-plan {
  width: 100%;
  margin: 0 auto;
}

.lesson-plan-status {
  margin-top: 2%;
}

.lesson-plans {
  th:not(:first-child),
  td:not(:first-child) {
    text-align: center;
  }
}

.course-list {
  float: right;
}

.status {
  border-radius: 7px;
  -moz-border-radius: 7px;
  margin: 1px;
  padding: 2px 5px 2px 5px;
}

.status-1 {
  background: rgba(255, 74, 72, 0.3);
}

.status-2 {
  background: rgba(248, 148, 0, 0.3);
}

.status-3 {
  background: rgba(70, 200, 71, 0.3);
}
