@import 'course_status';

@include status-1;
@include status-2;
@include status-3;

.lesson-plan {
  width: 100%;
  margin: 0 auto;
}

.lesson-plan-status {
  margin-top: 2%;
}

.lesson-plans {
  th:not(:first-child),
  td:not(:first-child) {
    text-align: center;
  }
}

.course-list {
  float: right;
}

.status {
  display: inline-block;
  border-radius: 7px;
  -moz-border-radius: 7px;
  margin-left: 15px;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
}

.tab-content {
  max-height: 450px;
  overflow: auto;
}

@media all, print {
  .print {
    margin: 5em;
  }

  .print div > p {
    margin-bottom: 2em;
  }
}

.heading h3 {
  display: inline;
  vertical-align: middle;
}

.standards-search {
  margin: 2px 0px 0px 5px;
  text-align: right;
}

