.site-nav {
  padding: 0.5em 0 0.5em 0;
}

.main {
  margin: 0 0 5em 3em;
  padding: 0 1em 1em 1em;
}

form {
  margin-top: 20px;
}

.form-submit {
  margin-top: 20px;
}

.mce-fullscreen {
  margin-top: 30px;
}

