// Place all the styles related to the to_dos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#to-do-list {

  #to-do-list-body {
    padding: 1%;

    input[type='checkbox'] {
      height: 20px;
      width: 20px;
    }
  }

  h2 {
    text-align: center;
  }
}

.new_to_do {
	margin-top: 1em;
}
