<section id='calendar'>
  <table>
    <caption>
      <h3><%= @calendar.current_month %></h3>
    </caption>
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <% @calendar.days.each_slice(7) do |week| %>
      <tr class='week'>
        <% week.each do |day| %>
          <td class='day'>
            <div class=<%= day.today ? 'today' : 'date' %>>
              <%= day.date %>
            </div>
            <ul>
              <% day.courses.each do |course| %>
                <li class='course'><%= link_to course.name %> </li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>
