<% courses = locals[:courses] %>
<div id='courses' class='span2'>
	<h3>Courses</h3>
  <div id='courses-body'>
  	<ul class='nav nav-tabs nav-stacked'>
      <% courses.each do |course| %>
      	<li data-id=<%= course.id %> data-handler='Courses' data-method='makeActive'>
          <a data-no-turbolink href='#'><%= course.name %></a>
        </li>
      <% end %>
  	</ul>
  </div>  

  <div id='course-control'>
    <i class='icon-plus' ></i><a data-no-turbolink data-remote="true" href="/courses/new"> New</a>
  </div>  
</div>
