<% flash.each do |k, v| %>
  <% flash_class = {
    error: 'alert-error',
    notice: 'alert-success',
    info: 'alert-info' }[k.to_sym]
  %>
  <div class="alert <%= flash_class %>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= v %>
  </div>
<% end %>
