<nav class='app-nav navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <div class='nav-collapse'>
        <ul class='site-nav nav nav-pills'>
          <a class="brand" href="/">Lesson Mate</a>
          <li class="<%= active('calendar') %>">
            <a href="/">Calendar</a>
          </li>
          <li class="<%= active('courses') %>">
            <a href="/courses">Courses</a>
          </li>
          <li class="<%= active('lesson_plans') %>">
            <a href="/lesson_plans">Lesson Plans</a>
          </li>
        </ul>
        <ul class='site-nav nav nav-pills pull-right'>
          <li><a href='#'>My Account</a></li>
          <li class='divider-vertical'></li>
          <li class='nav pull-right'>
            <%= link_to 'Sign Out',
              session_path(id: current_user.id),
              method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
