<section id='to-do-list'>

  <h2>To-do List</h2>

  <div id='to-do-list-body'>

    <ul>
    <% to_dos.each do |todo| %>
      
      <li><%= todo.body %></li>
    <% end %>
    </ul>

    <div id='course-control'>
      <i class='icon-plus' ></i><%= link_to 'New To-do', new_to_do_path %>
    </div>  
  </div>
</section>
