<section id='to-do-list'>

  <h2>To-do List</h2>

  <div id='to-do-list-body'>
    <table class='table'>
      <tbody id='to-do-list-table'>
        <% to_dos.each do |to_do| %>
          <tr>
            <td>
              <%= check_box_tag "#{to_do.id}", 1,
                to_do.complete,
                class: 'to-do'
              %>
            </td>
						<td>
              <%= to_do.body %>
						</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id='course-control'>
      <i class='icon-plus' ></i>
      &nbsp;<%= link_to 'Add To-do',
        new_to_do_path, remote: true %>
    </div>
  </div>
</section>
